<div class="panel panel-default">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-default" data-ng-show="confirm === true" data-ng-click="confirmYes()">Yes</button>
                <button type="button" class="btn btn-default" data-ng-click="confirmNo()">Cancel</button>
            </div>
        </div>
    </div>
</div>
