<div class="panel panel-default">
    <div class="panel-heading">Edit Product</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" novalidate angular-validator name="editProductForm" angular-validator-submit="editProduct()">
                    <div class="form-group">
                        <label for="productName">Name</label>
                        <input type="text" class="form-control" id="productName" name="productName" placeholder="Product name..." data-ng-model="productViewModel.name" validate-on="blur" required required-message="'Name is required'">
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input type="text" class="form-control" id="productPrice" name="productPrice" placeholder="Product price..." data-ng-model="productViewModel.price" validate-on="blur" required required-message="'Price is required'">
                    </div>
                    <a href="#/prodcts" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
