<div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" novalidate angular-validator name="addProductForm" angular-validator-submit="login()">
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input type="text" id="userName" name="userName" class="form-control" required data-ng-model="loginViewModel.userName" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required data-ng-model="loginViewModel.password" />
                    </div>
                    <div class="form-group">
                        <p class="text-danger" data-ng-show="loginResult.visible">{{ loginResult.message }}</p>
                        <button class="btn btn-default" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
