@{
    Layout = null;
}
@using System.Web.Optimization

<!DOCTYPE html>
<html data-ng-app="ZhdSpa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZHD Product Single Page Application Example</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div data-ng-controller="rootCtrl">
        <top-bar></top-bar>
        <br />
        <br />
        <div class="container body-content">
            <member-login></member-login>
            <br />
            <tab-bar></tab-bar>
            <div id="mainContainer" data-ng-view></div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - ZHD Product Single Page Application Example</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
</body>
</html>

